        <!-- PRODUCT 1 VALUES BEGIN -->
<div id="p{{Pain.index}}-awards" border="0">
    <!--<h2 alingn="center"><img id="p1i1" src="images\p1_features.jpg" /></h2>-->
    <h4 id="p1-awards-title" align="center">{{awardsTitle}}</h4>

    <div id="awards-wrapper" ng-init="vAlign('#awards-wrapper', '20')">
        <div id="awards-row-1" class="row row-centered" ng-repeat="award in Pain.awards">
            <div id="pp1" class="col m6 col-centered">
                <img id="pp1img" class="responsive-img" ng-src="{{award}}" /><br />
            </div>
        </div>
        <div class="row">
            <div class="col m3">
                <a href="#/{{awardsPrevious}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-awardsPrevious', awardsPrevious)">
                    <i class="material-icons icon-1000">keyboard_arrow_left</i>
                </a>
            </div>
            <div class="col m3 offset-m6">
                <a href="#/{{awardsNext}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-awardsNext', awardsNext)">
                    <i class="material-icons icon-900">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT 1 VALUES END -->
