        <!-- PRODUCT 1 BENEFITS BEGIN -->
<div id="p{{Pain.index}}-benefits" border="0">
    <!--<h2 alingn="center"><img id="p1i1" src="images\p1_features.jpg" /></h2>-->
    <h4 id="benefits-title" align="center">{{Pain.product}} Benefits</h4>

    <div id="benefits-wrapper" class="row vertical-align" ng-init="vAlign('#benefits-wrapper', '4')">
        <div class="col m3">
            <a href="#/{{benefitsPrevious}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-benefitsPrevious', benefitsPrevious)">
                <i class="material-icons icon-1000">keyboard_arrow_left</i>
            </a>
        </div>
        <div class="col m7">
            <ul id="benefits-list" class="collection">
                <li ng-repeat="benefit in Pain.benefits" class="collection-item">
                    <i class="material-icons">done</i> {{benefit}}
                </li>
            </ul>
        </div>
        <div class="col m2">
            <a href="#/{{benefitsNext}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-benefitsNext', benefitsNext)">
                <i class="material-icons icon-1000">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>
<!-- PRODUCT 1 BENEFITS END -->
