  <!-- PRODUCT 1 SPECS AND MANUALS BEGIN -->
<div id="p{{Pain.index}}-specs" border="0">
    <!--<h2 alingn="center"><img id="p1i1" src="images\p1_features.jpg" /></h2>-->
    <h4 id="specs-title" align="center">{{Pain.product}} Specs and Manuals</h4>

    <div id="specs-wrapper" class="row margin-top valign-wrapper" ng-init="vAlign('#specs-wrapper', '4')">
        <div class="col m3">
            <a href="#/{{specsPrevious}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-specsPrevious', specsPrevious)">
                <i class="material-icons icon-1000">keyboard_arrow_left</i>
            </a>
        </div>
        <div class="col s12 m5">
            <div class="row">
                <div class="card blue-grey darken-1">
                    <a target="_blank" ng-href="{{Pain.specsUrl}}" ng-mousedown="openTab1()" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-specsUrl', valuesNext)">
                        <div class="card-action center-align">
                            Complete Vaio Z Specs
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="card blue-grey darken-1">
                    <a target="_blank" ng-href="{{Pain.manualUrl}}" ng-mousedown="openTab1()" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-manualUrl', valuesNext)">
                        <div class="card-action center-align">
                            Vaio Z Product Manuals
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col m2">
            <a href="#/{{specsNext}}" ng-click="sendAnalytics(Pain.spmapId, 'p'+Pain.index+'-specsNext', specsNext)">
                <i class="material-icons icon-1000">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>
<!-- PRODUCT 1 SPECS AND MANUALS END -->
<!-- Modal Structure -->
<div id="specsModal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <iframe id="iframe" width="1500" height="700" scrolling="auto" style="zoom:0.60" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
        <a class="btn modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>