
body, h3, h4{
		font-family: 'Arial', arial !important;
		-webkit-font-smoothing: antialiased;
}


.margin-top{
    margin-top: 100px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
.bgImg{
    background: url(../images/DefaultBackground.jpg) no-repeat left bottom;
    background-size: auto;
}
main {
    flex: 1 0 auto;
}
footer.page-footer{
    padding-bottom: 20px;
}
#outside1{
    margin-top: 100px;
}
/*
.painpoints.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: auto !important;
}
*/
#img2, #img3, #img4, #img5{
	height: 100px;
	width: 150px;
	object-fit: contain;
}
/*
footer{
	background: #fcfcfc;
  padding: 20px;
  border-top: 1px solid #e6e6e6;
  -webkit-font-smoothing: antialiased;
	height: 100px;
}
*/
/*
#cust-image{
	float: right;
  display: block;
}
*/
img, #p1-values-next{
	//cursor: pointer;
}
#img-right{
	text-align: right;
}
#row-1, #row-2{
align-items: center;
text-align: center;
}
.img-responsive {
    margin: 0 auto;
}
.body{
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#pp1, #pp2, #pp3, #pp4{
	margin-top: 30px;
}

.vertical-align {
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#imageright{
		float: right;
    vertical-align: central;
}
.border{
    border: 2px solid;
}
#p1-values{
    /*min-height: 95%;*/
		position:relative;
}
#values-list > li, #benefits-list > li, #faqs-list > li{
    font-size: 150%;
}
.icon-900{
    font-size: 800%;
} 
.icon-1000{
    font-size: 1000%;
}
#painpoints-wrapper{
	//display: none;
}
#welcome-page-header{
	padding-right: 30px;
	margin-top: 100px;
	text-align: right;
}

#painpoints-wrapper > div > h3{
    text-align: left;
}
#painpoints-wrapper > div {
  text-align: center;
}
#p2f, #p3f, #p4f {
    vertical-align:top;
}

li{
    vertical-align: middle;
}

#p2af {
    vertical-align:top;
    width: 100%;
    height: 200px;
    text-align: right;
    border: solid 1px #c3c3c3;
}

#p2bf {
    vertical-align:top;
    width: 100%;
    height: 50px;
    text-align: right;
    border: solid 1px #c3c3c3;
}
label{
    font-size: 125%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    
    /* inline-block space fix */
    margin: 0 auto;
}
@media only screen and (max-width: 472px) {
    .col-centered {
        float:none !important;
    }
}