<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://scityws.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>scityws.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SCityWS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SCityWS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="-scs" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User ID=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65" Name="Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User Id=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SAKETSURFACE\SQLEXPRESS;Initial Catalog=SCITY;User ID=scity;Password=scity;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\-scs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=SAKETSURFACE\SQLEXPRESS;Database=SCITY;User ID=scity;Password=scity;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="scs" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User ID=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65" Name="Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User Id=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;Integrated Security=False;User ID=kmattapalli@scityserver;Password=Chcicken@65;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\scs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:scityserver.database.windows.net,1433;Database=SCityDB;User ID=kmattapalli@scityserver;Password=Chcicken@65;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)-scs-Web.config Connection String">
      <ParameterValue>Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User Id=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)scs-Web.config Connection String">
      <ParameterValue>Data Source=tcp:scityserver.database.windows.net,1433;Initial Catalog=SCityDB;User Id=kmattapalli@scityserver.database.windows.net;Password=Chcicken@65</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>